.header {
  display: grid;
  padding-left: 15px;
  padding-top: 33px;
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: min-content min-content min-content;
  }
}

.header__logo {
  margin-left: 40px;
}

//Logo - чтобы мжно выделить и навести на Лого
.header__out {
  z-index: 1;
}


