//Menu - сначала пришем стили ктр использую на всех
// разрешениях,а потом специфические

//фишка - мы все наше меню наивгации сделали абсолютным
//menu
.main-nav {
  display: grid;
  padding-top: 23px;
}

.main-nav__menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 15px;
}

@media (min-width: 768px) {
  .main-nav {
    background-color: #3b84bb;
  }
}