.main-nav {
  display: flex;
  flex-direction: column;
  //margin: 0 auto;
}

.main-nav__menu {

}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1022px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}