.phone {
  display: none;
  padding-top: 12px;
  padding-left: 6px;
}

.phone__open {
  display: inline-block;
  padding-left: 13px;
}

.phone__svg {
  margin-left: -5px;
  margin-top: 8px;
  fill: #122659;

  &:hover,
  &:focus {
    fill: #3b84bb;
  }
}

.phone__list-link {
  padding-left: 5px;
  color: var(--special-extra-dark);

  &:hover,
  &:focus {
    color: #3b84bb;
  }
}


@media (min-width: $tablet-width) {
  .phone__close {
    display: flex;
    position: absolute;
    top: 13px;
    right: 0;
    left: 527px;
  }

  .phone__open {
    padding-left: 6px;
  }

  .phone__list-link {
    padding-top: 3px;
    padding-left: 12px;
  }
}

@media (min-width: $desktop-width) {
  .phone {
    min-width: 201px;
    padding-left: 17px;
    padding-top: 7px;
  }

  .phone__list-link {
    padding-top: 0;
    padding-left: 5px;
  }

}




