
///List
.site-list {
  margin: 0;
  padding-left: 0;
  padding-top: 19px;
  list-style: none;
  font-size: 18px;
  color: var(--special-extra-dark);
  display: none;
}

.site-list__item {
  padding-bottom: 11px;

}

.site-list--open {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-top: 19px;
}

//Link
.site-list__link {
  color: var(--special-extra-dark);

  &:hover,
  &:focus {
    color: #3b84bb;
  }
}

.site-list__link--current {
  font-weight: bold;
  color: var(--special-extra-dark);
}

@media (min-width: $tablet-width) {
  .site-list {
    display: none;
    font-size: 22px;
  }

  .site-list--open {
    display: flex;
    flex-direction: column;
    padding-top: 26px;
    padding-left: 0;
  }

  .site-list__item {
    padding-bottom: 12px;
  }
}


@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    padding-top: 12px;
    padding-left: 57px;
    flex-wrap: wrap;
  }

  .site-list__item {
    padding-right: 22px;
  }


}



