$fancy-color: #ffffff;
$link-color: #000000;
$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;
$retina-dppx: 1.5dppx;
$icon-and-button-bg: #68b738;

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #273238;
  --basic-semi-light: #696969;
  --basic-neutral: #b1b3b6;
  --basic-light: #e9eaeb;
  --basic-white: #ffffff;

  --special-extra-dark: #122659;
  --special-dark: #3b84bb;
  --special-dark-10a: rgb(59 132 187 / 0.1);
  --special-semi-dark: #42a0da;
  --special-neutral: #61afb4;
  --special-semi-light: #81c36d;
  --special-light: #afe63a;
  --special-extra-light: #c6f523;
}